{% extends 'balanceit/layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class='flex-auto w-full mx-auto flex flex-row items-center justify-center'>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class='w-1/2 flex justify-center'>
        <form class='w-1/2' action="{% url 'login' %}" method='POST'> 
            {% csrf_token %}
            <h1 class="text-center mb-10 text-4xl font-extrabold leading-none tracking-tight text-blue-900 md:text-5xl lg:text-6xl dark:text-white">Login</h1>
            <div class="mb-5">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
                <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@flowbite.com" required />
            </div>
            <div class="mb-5">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
            </div>
            <div class="flex flex-row mb-5">
                <div class='flex-1 text-right'>
                    <p class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                        Did I see you first time? <a href="{% url 'register' %}" class="ms-2 text-sm font-medium italic text-gray-900 dark:text-gray-300 hover:underline hover:underline-offset-auto">Register here</a>
                    </p>
                </div>
            </div>
            <button type="submit" class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
        </form>
    </div>
</div>

      
{% endblock %}